.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  background:
  linear-gradient(
    rgba(248, 244, 239, .76),
    rgba(248, 244, 239, .90)
  ),
  url("../assets/img/cartel_matias.png") center center / 1120px no-repeat;

  &__overlay {
    position: absolute;
    inset: 0;

    background: radial-gradient(
      circle at 75% 35%,
      rgba(201, 166, 107, .16),
      transparent 40%
    );
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 780px;
    padding-top: 120px;

    h1 {
      color: $color-dark;
      margin-bottom: 24px;
      font-size: clamp(3rem, 6vw, 5.6rem);
      line-height: .95;
      text-shadow: none;
    }

    p {
      max-width: 650px;
      color: $color-muted;
      font-size: 1.08rem;
      line-height: 1.9;
      margin-bottom: 36px;
    }
  }

  &__buttons {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .hero {
    background:
      linear-gradient(
        rgba(248, 244, 239, .86),
        rgba(248, 244, 239, .96)
      ),
      url("../assets/img/cartel_matias.png") center center / 850px no-repeat;

    &__content {
      padding-top: 140px;
    }
  }
}

@media (max-width: 620px) {
  .hero {
    min-height: 90vh;

    background:
      linear-gradient(
        rgba(248, 244, 239, .9),
        rgba(248, 244, 239, .98)
      ),
      url("../assets/img/cartel_matias.png") center center / 650px no-repeat;

    &__buttons {
      flex-direction: column;
      align-items: stretch;
    }   
  }
}