.hero {

min-height:100vh;

display:flex;

align-items:center;

position:relative;

overflow:hidden;

background:
linear-gradient(
rgba(248,244,239,.82),
rgba(248,244,239,.92)
),
url("../assets/img/cartel_matias.png");

background-position:center;

background-repeat:no-repeat;

background-size:1100px;

&__overlay{

position:absolute;

inset:0;

background:
radial-gradient(
circle at 75% 35%,
rgba(201,166,107,.16),
transparent 40%
);

}

&__content{

position:relative;

z-index:2;

max-width:760px;

padding-top:120px;

}

h1{

color:#07111f;

margin-bottom:24px;

font-size:
clamp(
3rem,
6vw,
5.6rem
);

line-height:
.95;

}

p{

max-width:650px;

font-size:1.08rem;

line-height:1.9;

color:#5b6472;

margin-bottom:36px;

}

&__buttons{

display:flex;

gap:18px;

}

}

@media(max-width:900px){

.hero{

background-size:
850px;

&__content{

padding-top:
140px;

}

}

}

@media(max-width:620px){

.hero{

background-size:
650px;

min-height:
90vh;

&__buttons{

flex-direction:
column;

align-items:
stretch;

}

}

}